# Copy this file to .env.development (or .env.production) and update values
APP_ENV=development
SERVER_ADDRESS=0.0.0.0:8080

# PostgreSQL example
DATABASE_SOURCE=postgresql://postgres:postgres@localhost:5432/mydb?sslmode=disable

# RabbitMQ mail queue
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_MAIL_QUEUE=mail.jobs
RABBITMQ_MAIL_WORKER_ENABLED=true

# SMTP mail sender
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=example@example.com
SMTP_PASSWORD=change-me
SMTP_FROM=example@example.com

# Security
JWT_SECRET=Z7CnYdGrKcryFciMC86BwlJd3z0HDxm8y5pGik79NAX
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h
ISSUER=workspace-hub

# Cookies
COOKIE_TOKEN_AGE=15
COOKIE_SECURE=true
COOKIE_DOMAIN=localhost
COOKIE_TOKEN_NAME=token
COOKIE_SAMESITE=lex
COOKIE_HTTP_ONLY=true
