# Copy this file to .env.development (or .env.production) and update values
APP_ENV=development
SERVER_ADDRESS=0.0.0.0:8080

# PostgreSQL example
DATABASE_SOURCE=postgresql://postgres:postgres@localhost:5432/mydb?sslmode=disable

# Security
JWT_SECRET=replace_with_a_strong_secret
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=168h

# Cookies
COOKIE_SECURE=false
COOKIE_DOMAIN=localhost
COOKIE_TOKEN_NAME=access_token
